html{
  width: 100%;
  height: 100%;
}
body{
  /* background: linear-gradient(270deg, #246655, #242b66); */
  background: #311D3F;
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100%;
  overflow: hidden;
}